In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("eurusd-5m.csv", sep=';')
df.columns

In [6]:
df.tail(10)

         21/10/2002  01:05:00   0.9732  0.97325   0.9728  0.97285    0
1567313  27/06/2023  19:00:00  1.09576  1.09583  1.09559  1.09580  842
1567314  27/06/2023  19:05:00  1.09580  1.09589  1.09578  1.09589  755
1567315  27/06/2023  19:10:00  1.09588  1.09610  1.09587  1.09606  693
1567316  27/06/2023  19:15:00  1.09607  1.09607  1.09587  1.09594  665
1567317  27/06/2023  19:20:00  1.09594  1.09614  1.09589  1.09595  672
1567318  27/06/2023  19:25:00  1.09594  1.09600  1.09588  1.09595  568
1567319  27/06/2023  19:30:00  1.09595  1.09598  1.09573  1.09577  637
1567320  27/06/2023  19:35:00  1.09577  1.09582  1.09565  1.09566  530
1567321  27/06/2023  19:40:00  1.09566  1.09572  1.09548  1.09550  649
1567322  27/06/2023  19:45:00  1.09550  1.09562  1.09546  1.09559  575